/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

 .wrapper {
 	background-color: #eee;
 	padding: 10px;
 }

 .wrapper_index {
 	margin-top: 2em;
 }

 .search-box {
 	display: inline-block;
 	width: 60%;
 	border-radius: 50px!important;
 	border-radius: 3px;
 	padding: 4px 55px 4px 15px;
 	position: relative;
 	background: #fff;
 	border: 1px solid #ddd;
 	-webkit-transition: all 200ms ease-in-out;
 	-moz-transition: all 200ms ease-in-out;
 	transition: all 200ms ease-in-out;
 }
 .search-box.hovered, .search-box:hover, .search-box:active {
 	border: 1px solid #aaa;
 }
 .search-box input[type=text] {
 	border: none;
 	box-shadow: none;
 	display: inline-block;
 	padding: 0;
 	background: transparent;
 }
 .search-box input[type=text]:hover, .search-box input[type=text]:focus, .search-box input[type=text]:active {
 	box-shadow: none;
 }
 .search-box .search-btn {
 	position: absolute;
 	right: 2px;
 	top: 2px;
 	color: #aaa;
 	border-radius: 3px;
 	font-size: 21px;
 	padding: 5px 10px 1px;
 	-webkit-transition: all 200ms ease-in-out;
 	-moz-transition: all 200ms ease-in-out;
 	transition: all 200ms ease-in-out;
 }
 .search-box .search-btn:hover {
 	color: #fff;
 	background-color: #8FBE00;
 }
 .tags_btn {
 	border-radius: 50px;
 	margin-right: 10px;
 	padding: 10px;
 	color: rgba(0, 0, 0, 0.74);
 }

 .tags_btn:hover {
 	text-decoration: none;
 	color: #222;
 }

 .tags_btn:hover {
 	border: 1px solid #36D1C4;
 }

 .search_btn {
 	background: #36D1C4!important;
 	border-radius: 50px!important;
 	color: white!important;
 	width: 39px!important;
 	right: 5px!important;
 	top: 4px!important;
 }
 .div_decouvrir {
 	text-align: center;
 	margin-bottom: 3em;
 	margin-top: 1em;
 }

 .btn_decouvrir {
 	border-radius: 50px;
 	border: none;
 	padding: 10px 20px;
 	color: white;
 	background: #36D1C4;
 }

 .btn_decouvrir:hover {
 	color: white;
 	text-decoration: none;
 	border: 3px solid #A0EECC;
 }

 .card_home {
 	background-color: white;
 	border-radius: 10px;
 	padding: 20px;
 	border: 2px solid #00D6F5;
 }

 .row_cards {
 	display: flex;
 	justify-content: space-between;
 	text-align: center;
 	margin-top: 3em;
 }


