.card-cooker {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  color: #000000;
}

.card-cooker-id h4 {
  margin-left: 15px;
  padding: 15px;
  max-width: 400px;
  line-height: 1.5;
}

.cooker-img-show {
  height: 70vh;
  border-radius: 50%;
  border: 3px solid white;
  margin-right: 50px;
}


.card-id-grey {
  background-color: rgba(4, 4, 4, 0.41);
  margin: 30px;
  border-radius: 25px;
  color: white;
  border: 3px solid white;
}

#banner-show {
  position:relative;
}


.btn-photos-show {
  position: absolute;
}

.btn-green-round {
  bottom: 20px;
  left: 30px;
  border-radius: 30px;
  padding: 13px;
  font-weight: bold;
}

.summary {
  color: rgba(50, 50, 50, 0.48) ;
  padding-bottom: 20px;
}

.tabs-header-show {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 0 10px;
  margin: 30px;
}

.header-summary-show {
  color: $green;
  font-weight: bold;
  font-size: 20px;
}

.header-summary-show:hover {
  cursor: pointer;
  text-decoration: none;
  opacity: 0.8;
}

.fa-tall {
  font-size: 50px;
  padding: 15px;
}

#book-form {
  // position: fixed;
  border: 2px solid $green;
  padding: 15px;
  border-radius: 25px;
  margin-top: 50px;
}

#book-form-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 2px;
  background-color: $red;
  padding: 20px;
  font-weight: bold;
  color: white;
  border-radius: 50px;
}

.form-height-higher {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 18px;
}

#summary-icons-header {
  font-size: 25px;
  padding: 25px;
  font-weight: bold;
  margin-top: 30px;
  border-bottom: 2px solid $green;
}

.map-title-grey {
  color: rgba(50, 50, 50, 0.48);
  font-weight: bold;
}

.map-container {
  padding-top: 50px;
  padding-bottom: 50px;
}

#map-show {
  border: 3px solid black;
}












