<h1>Cooks#index</h1>
<p>Find me in app/views/cooks/index.html.erb</p>

<div class="map-search">
  <!-- la barre de criteres -->
  <div class="menu-bar"></div>
  <!-- les vignettes -->
  <div class="side-bar">
    <div class="side-bar-header">
      <div>
        <span>
          Sélectionner la recette que vous souhaitez apprendre.
        </span>
      </div>
      <div>  </div>
    </div>
  </div>
  <!-- la map -->
  <div></div>
</div>
