<h1>Cooks#new</h1>
<p>Find me in app/views/cooks/new.html.erb</p>

<%= render "form" %>



<%= content_for(:after_js) do %>
  <script src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;&key=#{ENV['GOOGLE_API_BROWSER_KEY']}"></script>
<% end %>
