<img src="@cook.photos_home_url" alt="">
<h1><%= @cook.nickname %> , <%= @cook.age %> ans </h1>
<h2> Speciality : <%= @cook.speciality %></h2>
<h2> Motto : <%= @cook.motto %></h2>


<!-- <h2> class @cook.photo_show </h2> -->
