<div class="banner image_bg">
	<%= render 'shared/video_bg' %>
	<div class="banner-content">
		<h1>Mamarmite</h1>
		<p>Eat at home, away</p>
	</div>
	<div class='search-box'>
		<form class='search-form'>
			<input class='form-control text-center' placeholder='Type your search...' type='text' style="font-size: 1.4em;color: #36D1C4">
			<button class='btn btn-link search-btn search_btn'>
				<i class='glyphicon glyphicon-search' style="left: -1px;"></i>
			</button>
		</form>
	</div>
</div>
<div class="wrapper">
	<div class="container">
		<div class="div_decouvrir">
			<%= link_to "Découvrir nos Mamarmites!", cooks_path, class: 'btn_decouvrir' %>
		</div>
		<div class="row" style="margin-bottom: 10px;">
			<div class="col-xs-12 text-center">
				<button class="btn btn-default tags_btn" type="submit">tags</button>
				<button class="btn btn-default tags_btn" type="submit">tags</button>
				<button class="btn btn-default tags_btn" type="submit">tags</button>
				<button class="btn btn-default tags_btn" type="submit">tags</button>
				<button class="btn btn-default tags_btn" type="submit">tags</button>
				<button class="btn btn-default tags_btn" type="submit">tags</button>
				<button class="btn btn-default tags_btn" type="submit">tags</button>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 text-center">
				<button class="btn btn-default tags_btn" type="submit">tags</button>
				<button class="btn btn-default tags_btn" type="submit">tags</button>
				<button class="btn btn-default tags_btn" type="submit">tags</button>
				<button class="btn btn-default tags_btn" type="submit">tags</button>
				<button class="btn btn-default tags_btn" type="submit">tags</button>
			</div>
		</div>
		<div>
		<h2 class="text-center" style="margin-top: 1em;color: #777;">Top cookers</h2>

			<div class="row row_cards">
				<div class="col-sm-3 card_home">
					card1
				</div>
				<div class="col-sm-3 card_home">
					card2
				</div>
				<div class="col-sm-3 card_home">
					card3
				</div>
			</div>
		</div>
	</div>
</div>