<div class="banner image_bg">
<%= render 'shared/video_bg' %>
	<div class="banner-content">
		<h1>Mamarmite</h1>
		<p>Eat at home, away</p>
		<a class="btn btn-primary btn-lg" id="show_me" style="border-radius: 50px;" href="#Acocktails">Show me</a>
	</div>
</div>