.attachinary_container ul {
  list-style-type: none;

}

.list-inline-new {
  display: flex;
  justify-content: center;

}

label.attachinary {
  margin-top: 30px;
  margin-bottom: 15px;


}


.space {
  margin-top: 30px;
  margin-bottom: 15px;
}
